*, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

textarea {
  min-height: 400px;
}

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-container .nav-bar {
  display: block;
  width: 250px;
}

.body-container .nav-bar hr {
  margin: 20px 0;
}

.body-container .nav-bar-user {
  margin: 10px 0;
  text-align: center;
}

.body-container .nav-bar-user-char {
  background-color: #581Ab7;
  display: inline-block;
  padding: 15px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 1px 3px 0px #00000038;
          box-shadow: 5px 1px 3px 0px #00000038;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.body-container .nav-bar-user-char:hover {
  background-color: #946ece;
}

.body-container .nav-bar-user-char p {
  color: #FEFEFE;
  font-size: 40px;
  font-weight: bold;
  line-height: 0.7;
}

.body-container .nav-bar-user-name {
  font-size: 20px;
}

.body-container .nav-bar .nav {
  display: block;
}

.body-container .nav-bar .nav-compose {
  width: 80%;
  margin: auto;
}

.body-container .nav-bar .nav-compose #compose {
  font-size: 20px;
  font-weight: bold;
  color: #FEFEFE;
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 0px 5px #0000001f;
          box-shadow: 5px 0px 5px #0000001f;
  background-color: #217CF2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.body-container .nav-bar .nav-compose #compose:focus {
  outline: none;
}

.body-container .nav-bar .nav-compose #compose:hover {
  background-color: #64A2F2;
}

.body-container .nav-bar .nav-compose #compose img {
  height: 35px;
  color: #FEFEFE;
}

.body-container .nav-bar .nav-compose #compose p {
  display: inline-block;
  font-family: "Roboto", sans-serif !important;
}

.body-container #emails-view {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  padding: 0;
  max-width: 90%;
}

.body-container #emails-view #list-title {
  padding: 0 30px;
}

.body-container #emails-view #list-title-counter {
  color: #1571fc;
  font-size: 18px;
  padding-left: 10px;
}

.body-container #emails-view .emails-list {
  list-style: none;
  padding: 0;
}

.body-container #emails-view .emails-list .email-item {
  padding: 10px 30px;
  font-size: 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 7fr 2fr;
      grid-template-columns: 1fr 7fr 2fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  font-weight: bold;
  color: #1571fc;
  margin-bottom: 2px;
}

.body-container #emails-view .emails-list .email-item:hover {
  outline: 1px solid #787878;
  cursor: pointer;
}

.body-container #emails-view .emails-list .email-item p {
  margin: 0;
  display: inline;
}

.body-container #emails-view .emails-list .email-item-name {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.body-container #emails-view .emails-list .email-item-subject {
  padding: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.body-container #emails-view .emails-list .email-item-date {
  text-align: right;
}

.body-container #emails-view .emails-list .opened {
  color: #242424;
  background-color: #EFEFEF;
}

#compose-view {
  width: 50%;
  position: absolute;
  right: 10px;
  bottom: 0;
  background-color: #EFEFEF;
  padding: 20px;
  -webkit-box-shadow: -8px -7px 18px 0px #0000003d;
          box-shadow: -8px -7px 18px 0px #0000003d;
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
}

#compose-view .form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#compose-view .form-title p {
  font-size: 24px;
  font-weight: bold;
  color: #787878;
}

#compose-view .form-title p:hover {
  color: black;
  cursor: pointer;
}

#display-area {
  height: 80vh;
  overflow-y: scroll;
}

#display-area .email-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

#display-area .email-header p {
  margin: 0;
}

#display-area .email-header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#display-area .email-header-right button {
  margin-left: 10px;
  border: none;
  padding: 2px 10px;
  background-color: #EFEFEF;
  font-weight: bold;
}

#display-area .email-header-right button:hover {
  background-color: #787878;
}

#display-area .email-header-right button:focus {
  outline: none;
}

#display-area .email-body {
  padding: 50px 30px;
  background-color: #EFEFEF;
  margin-top: 20px;
  font-size: 18px;
}

#display-area .email-body p {
  width: 80%;
  margin: auto;
  background-color: white;
  padding: 20px 40px;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

strong {
  width: 100%;
  display: block;
  font-size: 14px;
  background-color: #d9d9d9;
  font-weight: bold;
  padding: 10px;
  max-height: 30vh;
  overflow-y: scroll;
}

@media (max-width: 500px) {
  .body-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body-container .left-nav {
    border: none;
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */