$dark-gray: #a7a7a7;
$light-blue:#71f3da;
$hover-blue:#92ffe7;
$dark-blue:#1571fc;
//COLORS
$off-white: #FEFEFE;
$light-gray: #EFEFEF;
$medium-gray: #BFBFBF;
$dark-gray: #787878;
$off-black: #242424;
$dark-primary: #1D0147;
$primary: #581Ab7;
$primary-light: #946ece;
$error: #F02500;
$message: #BCF424;
$secondary-gray:#ABCBF5;
$secondary-gray-pale:#64A2F2;
$secondary-bright: #09E8C2;
$secondary-pale: #00A2B5;
$secondary:#217CF2;


$small-font-size: 14px;
$medium-font-size: 18px;
$regular-font-size:24px;
$big-font-size:30px;
$small-header-font-size: 42px;
$big-header-font-size: 60px;


*, body{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
}
p{
    margin:0;
    padding:0;
}
textarea {
    min-height: 400px;
}


.body-container{
    display:flex;
    .nav-bar{
        display:block;
        width:250px;
        height: 100vh;
        box-shadow: 5px 0px 5px #b4b4b4;
        hr{
            margin:20px 0;
        }
        &-user{
            margin:10px 0;
            text-align:center;
            &-char{
                background-color:$primary;
                display:inline-block;
                padding: 15px;
                border-radius: 50%;
                box-shadow: 5px 1px 3px 0px #00000038;
                cursor: pointer;
                transition: background-color 0.2s ease-in;
                
                &:hover{
                    background-color:$primary-light;
                }
                p{
                    color:$off-white;

                    font-size: 40px;
                    font-weight: bold;
                    line-height:0.7;
                }
            }
            &-name{
                font-size: 20px;
            }
        }

        .nav{
            display:block;
            &-compose{
                width: 80%;
                margin: auto;
                #compose{
                    
                    font-size: 20px;
                    font-weight: bold;
                    color: $off-white;
                    width: 100%;
                    border: none;
                    padding: 5px;
                    border-radius: 10px;
                    box-shadow: 5px 0px 5px #0000001f;
                    background-color: $secondary;
                    display:flex;
                    justify-content:center;
                    align-items: center;
                    cursor: pointer;
                    transition: background-color 0.2s ease-in;
                    &:focus{
                        outline:none;
                    }
                    &:hover{
                        background-color:$secondary-gray-pale;
                    }
                    img{
                        height:35px;
                        color: $off-white;
                    }
                    p{
                        display:inline-block;
                        font-family: 'Roboto', sans-serif!important ;
                    }
                }
            }
            &-mailbox{
                width:80%;
                margin:auto;
                text-align:left;
                h2{
                    font-size:30px;
                    font-weight:bold;
                    margin: 20px 0;
                }
                &-buttons{
                    display:flex;
                    flex-direction:column;
                    .nav-mailbox-button{
                        display:flex;
                        align-items: center;
                        position:relative;
                        background-color:transparent;
                        border:none;
                        margin-bottom:10px;
                        padding:5px 0;
                        cursor:pointer;
                        
                        &:focus{
                            outline:none;
                        }
                        &:hover{
                            color: $secondary;
                        }
                        &-background{
                            position:absolute;
                            background-color:$secondary-gray;
                            width:0%;
                            height: 100%;
                            z-index: 100;
                            left: -20%;
                            border-radius: 10px;
                            transition: width 0.2s ease-in-out;
                            box-shadow: 3px 1px 5px 1px #0000002e;
                            &-small{
                                position: absolute;
                                height: 100%;
                                width:0%;
                                background-color: $secondary;
                                border-radius: 10px;
                                transition: width 0.2s ease-in-out;
                            }
                        }
                        img{
                            width:30px;
                            margin-right:20px;
                            z-index:200;
                        }
                        p{
                            font-size:20px;
                            font-weight:bold;
                            z-index:200;
                        }
                    }
                }
            }
        }

        &-footer{
            text-align:center;
            font-size:20px;
            font-weight:bold;
            a{
                text-decoration:none;
                color:$off-black;
                &:hover{
                    color:$medium-gray;
                }
            }
        }
    }
    
    #emails-view{
        flex:9;
        padding: 0 ;
        max-width: 90%;
        #list-title{
            padding:0 30px;
            &-counter{
                color: $dark-blue;
                font-size: $medium-font-size;
                padding-left: 10px;
            }
        }
        .emails-list{
            list-style:none;
            padding: 0;
            .email-item{
                padding:10px 30px;
                font-size: $medium-font-size;
                display: grid;
                grid-template-columns: 1fr 7fr 2fr;
                justify-content:space-between;
                overflow:hidden;
                font-weight: bold;
                color:$dark-blue;
                margin-bottom: 2px;
                &:hover{
                    outline:1px solid $dark-gray;
                    cursor: pointer;
                }
                p{
                    margin:0;
                    display:inline;
                }
                &-name{
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    text-overflow: ellipsis;
                    
                }
                &-subject{
                    
                    padding: 0 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    text-overflow: ellipsis;
                }
                &-date{
                    text-align:right;
                }
            }
            .opened{
                color: $off-black;
                background-color: $light-gray;
            }
        }
    }
}

#compose-view{
    
    width:50%;
    position: absolute;
    right:10px;
    bottom:0;
    background-color:$light-gray;
    padding: 20px;
    box-shadow: -8px -7px 18px 0px #0000003d;
    transition: display 0.5s;

    .form-title{
        display:flex;
        justify-content: space-between;
    
        p{
            font-size: $regular-font-size;
            font-weight: bold;
            color: $dark-gray;
            &:hover{
                color: black;
                cursor: pointer;
            }
        }
    }
}

#display-area{
    height: 80vh;
    overflow-y: scroll;
    .email-header{
        display:flex;
        justify-content:space-between;
        align-items: center;
        padding: 0 30px;
        p{
            margin:0;
        }
        &-right{
            display:flex;
            align-items: center;
            button{
                margin-left: 10px;
                border:none;
                padding: 2px 10px;
                background-color: $light-gray;
                font-weight:bold;
                &:hover{
                    background-color:$dark-gray;
                }
                &:focus{
                    outline:none;
                }
            }
        }
    }

    .email-body{
        padding: 50px 30px;
        background-color: $light-gray;
        margin-top:20px;
        font-size: $medium-font-size;
        p{
            width:80%;
            margin: auto;
            background-color:white;
            padding: 20px 40px;
            overflow-wrap: anywhere;
            white-space: pre-wrap;
        }
    }
}

strong{
    width: 100%;
    display: block;
    font-size: $small-font-size;
    background-color: #d9d9d9;
    font-weight: bold;
    padding: 10px;
    max-height: 30vh;
    overflow-y: scroll;
}

@media (max-width:500px){
    .body-container{
        flex-direction:column;
        .left-nav{
            border:none;
            display:none;
        }
    }
}