*, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

textarea {
  min-height: 400px;
}

.body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-container .alert {
  position: absolute;
  z-index: 100000;
  margin: auto;
  left: 40%;
  padding: 30px;
  border-radius: 20px;
  top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.body-container .alert-message {
  background-color: #bcf42494;
}

.body-container .alert-error {
  background-color: #f025007a;
}

.body-container .nav-bar {
  display: block;
  min-width: 250px;
  height: 100vh;
  -webkit-box-shadow: 5px 0px 5px #b4b4b4;
          box-shadow: 5px 0px 5px #b4b4b4;
  z-index: 300;
}

.body-container .nav-bar hr {
  margin: 20px 0;
}

.body-container .nav-bar-user {
  margin: 10px 0;
  text-align: center;
}

.body-container .nav-bar-user-char {
  background-color: #581Ab7;
  display: inline-block;
  padding: 15px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 1px 3px 0px #00000038;
          box-shadow: 5px 1px 3px 0px #00000038;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.body-container .nav-bar-user-char:hover {
  background-color: #946ece;
}

.body-container .nav-bar-user-char p {
  color: #FEFEFE;
  font-size: 40px;
  font-weight: bold;
  line-height: 0.7;
}

.body-container .nav-bar-user-name {
  font-size: 20px;
}

.body-container .nav-bar .nav {
  display: block;
}

.body-container .nav-bar .nav-compose {
  width: 80%;
  margin: auto;
}

.body-container .nav-bar .nav-compose #compose {
  font-size: 20px;
  font-weight: bold;
  color: #FEFEFE;
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 0px 5px #0000001f;
          box-shadow: 5px 0px 5px #0000001f;
  background-color: #217CF2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.body-container .nav-bar .nav-compose #compose:focus {
  outline: none;
}

.body-container .nav-bar .nav-compose #compose:hover {
  background-color: #64A2F2;
}

.body-container .nav-bar .nav-compose #compose img {
  height: 35px;
  color: #FEFEFE;
}

.body-container .nav-bar .nav-compose #compose p {
  display: inline-block;
  font-family: "Roboto", sans-serif !important;
}

.body-container .nav-bar .nav-mailbox {
  width: 80%;
  margin: auto;
  text-align: left;
}

.body-container .nav-bar .nav-mailbox h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}

.body-container .nav-bar .nav-mailbox-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-container .nav-bar .nav-mailbox-buttons .nav-mailbox-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  padding: 5px 0;
  cursor: pointer;
}

.body-container .nav-bar .nav-mailbox-buttons .nav-mailbox-button:focus {
  outline: none;
}

.body-container .nav-bar .nav-mailbox-buttons .nav-mailbox-button:hover {
  color: #217CF2;
}

.body-container .nav-bar .nav-mailbox-buttons .nav-mailbox-button-background {
  position: absolute;
  background-color: #ABCBF5;
  width: 0%;
  height: 100%;
  z-index: 100;
  left: -20%;
  border-radius: 10px;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  -webkit-box-shadow: 3px 1px 5px 1px #0000002e;
          box-shadow: 3px 1px 5px 1px #0000002e;
}

.body-container .nav-bar .nav-mailbox-buttons .nav-mailbox-button-background-small {
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: #217CF2;
  border-radius: 10px;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
}

.body-container .nav-bar .nav-mailbox-buttons .nav-mailbox-button img {
  width: 30px;
  margin-right: 20px;
  z-index: 200;
}

.body-container .nav-bar .nav-mailbox-buttons .nav-mailbox-button p {
  font-size: 20px;
  font-weight: bold;
  z-index: 200;
}

.body-container .nav-bar-footer {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.body-container .nav-bar-footer a {
  text-decoration: none;
  color: #242424;
}

.body-container .nav-bar-footer a:hover {
  color: #BFBFBF;
}

.body-container .list-title {
  width: 600px;
  min-width: 500px;
  background-color: #1D0147;
  font-size: 30px;
  color: #FEFEFE;
  padding: 20px;
  height: 10vh;
  z-index: 400;
  position: relative;
}

.body-container .list-view {
  width: 600px;
  min-width: 500px;
  z-index: 200;
}

.body-container .list-view .list-body {
  overflow-y: scroll;
  padding: 20px;
  height: 90vh;
  background-color: #EFEFEF;
}

.body-container .list-view .list-body .read .item-background {
  background-color: #BFBFBF;
}

.body-container .list-view .list-body .read .item-side-bar {
  background-color: #787878;
}

.body-container .list-view .list-body .read .item-content-heading {
  color: #878787;
}

.body-container .list-view .list-body .item {
  position: relative;
  width: 100%;
  height: 180px;
  background-color: #FEFEFE;
  margin-bottom: 10px;
  cursor: pointer;
}

.body-container .list-view .list-body .item:hover {
  border: 1px solid #581Ab7;
}

.body-container .list-view .list-body .item-background {
  background-color: #FEFEFE;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
}

.body-container .list-view .list-body .item-side-bar {
  width: 20px;
  height: 100%;
  position: absolute;
  background-color: #09E8C2;
  z-index: 150;
}

.body-container .list-view .list-body .item-container {
  z-index: 200;
  position: relative;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.body-container .list-view .list-body .item-container .user {
  font-size: 20px;
  line-height: 0.6;
  color: #FEFEFE;
  background-color: #64A2F2;
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
  border-radius: 100%;
  margin: 5px;
}

.body-container .list-view .list-body .item-content {
  width: 90%;
  min-width: 90%;
  height: 100%;
}

.body-container .list-view .list-body .item-content-user {
  position: relative;
}

.body-container .list-view .list-body .item-content-user .details {
  white-space: nowrap;
  display: inline-block;
  width: 60%;
}

.body-container .list-view .list-body .item-content-user .details p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.body-container .list-view .list-body .item-content-user .date {
  width: 40%;
  font-size: 16px;
  text-align: right;
  display: inline-block;
  float: right;
  margin-top: 22px;
}

.body-container .list-view .list-body .item-content-heading {
  font-size: 14px;
  color: #00A2B5;
}

.body-container .list-view .list-body .item-content-heading h2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.body-container .list-view .list-body .item-content-body {
  height: 50%;
}

.body-container .list-view .list-body .item-content-body p {
  font-size: 12px;
  height: 90%;
  overflow: hidden;
  white-space: pre-line;
}

.body-container #emails-view {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 50px;
}

.body-container .detail-container {
  width: 90%;
  margin: auto;
  background-color: #EFEFEF;
  margin-top: 5vh;
}

.body-container .detail-container .detail-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-container .detail-container .detail-content .left {
  min-width: 90px;
  max-width: 90px;
  padding: 10px;
}

.body-container .detail-container .detail-content .left .detail-userchar div {
  background-color: #946ece;
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  width: 100%;
  text-align: center;
}

.body-container .detail-container .detail-content .left .detail-userchar p {
  line-height: 0.8;
  color: #FEFEFE;
  font-size: 40px;
  font-weight: bold;
}

.body-container .detail-container .detail-content .left .detail-buttons {
  margin-top: 20px;
}

.body-container .detail-container .detail-content .left .detail-buttons button {
  display: block;
  width: 100%;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: #FEFEFE;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.body-container .detail-container .detail-content .left .detail-buttons button:focus {
  outline: none;
}

.body-container .detail-container .detail-content .left .detail-buttons button img {
  height: 40px;
}

.body-container .detail-container .detail-content .left .detail-buttons .detail-archive {
  background-color: #00a407;
}

.body-container .detail-container .detail-content .left .detail-buttons .detail-archive:hover {
  background-color: #07ce11;
}

.body-container .detail-container .detail-content .left .detail-buttons .detail-reply {
  background-color: #ff8100;
}

.body-container .detail-container .detail-content .left .detail-buttons .detail-reply:hover {
  background-color: #ffa041;
}

.body-container .detail-container .detail-content .right {
  padding: 10px 0;
  width: 90%;
}

.body-container .detail-container .detail-content .right .right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 10px;
}

.body-container .detail-container .detail-content .right .right-header .users {
  width: 70%;
}

.body-container .detail-container .detail-content .right .right-header .users small {
  font-size: 10px;
  font-weight: bold;
}

.body-container .detail-container .detail-content .right .right-header .users p {
  font-size: 16px;
  font-weight: bold;
}

.body-container .detail-container .detail-content .right .right-header .date {
  width: 30%;
}

.body-container .detail-container .detail-content .right .right-header .date p {
  text-align: right;
}

.body-container .detail-container .detail-content .right .right-title {
  margin: 40px 0;
  font-size: 20px;
  font-weight: bold;
}

.body-container .detail-container .detail-content .right .right-body p {
  white-space: pre-line;
}

.body-container .detail-container .detail-content .right .right-body p small {
  font-weight: bold;
}

.body-container #compose-view {
  display: block;
  position: absolute;
  z-index: 2000;
  right: 20px;
  bottom: 20px;
  background-color: lightgray;
  width: 50%;
  font-size: 20px;
  -webkit-box-shadow: -6px -4px 18px 0px #00000069;
          box-shadow: -6px -4px 18px 0px #00000069;
}

.body-container #compose-view .form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background-color: #581Ab7;
  color: #FEFEFE;
}

.body-container #compose-view .form-title #close-form {
  font-weight: bold;
  font-size: 24px;
  padding-right: 10px;
  cursor: pointer;
}

.body-container #compose-view #compose-form {
  padding: 10px;
}

.body-container #compose-view #compose-form .form-group input {
  width: 100%;
  font-size: 20px;
  padding: 0 10px;
}

.body-container #compose-view #compose-form textarea {
  width: 100%;
  font-size: 20px;
  padding: 0 10px;
}

.body-container #compose-view #compose-form .form-send {
  font-size: 20px;
  font-weight: bold;
  color: #FEFEFE;
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 0px 5px #0000001f;
          box-shadow: 5px 0px 5px #0000001f;
  background-color: #217CF2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.body-container #compose-view #compose-form .form-send:focus {
  outline: none;
}

.body-container #compose-view #compose-form .form-send:hover {
  background-color: #64A2F2;
}
/*# sourceMappingURL=styles.css.map */