{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
 
<div class="body-container">
    <div class="nav-bar">
        <div class="nav-bar-user">
            <div class="nav-bar-user-char"><p id="user-char">U</p></div>
            <div class="nav-bar-user-name"><p id="user-name">Username</p></div>
        </div>
        <hr>
        <div class="nav">
            <div class="nav-compose">
                <button id="compose">
                    <img src="{% static 'mail/icons/add_circle_outline-24px.svg' %}"/>
                    <p>New Message</p>   
                </button>
            </div>
            <div class="nav-mailbox">
                <h2>Mailbox</h2>
                <div class="nav-mailbox-buttons">
                    <button class="nav-mailbox-button" id="inbox">
                        <div class="nav-mailbox-button-background">
                            <div class="nav-mailbox-button-background-small"></div>
                        </div>
                        <img src="{% static 'mail/icons/inbox-24px.svg' %}">
                        <p>Inbox</p>
                    </button>
                    <button class="nav-mailbox-button" id="sent">
                        <div class="nav-mailbox-button-background">
                            <div class="nav-mailbox-button-background-small"></div>
                        </div>
                        <img src="{% static 'mail/icons/send-24px.svg' %}">
                        <p>Sent</p>
                    </button>
                    <button class="nav-mailbox-button" id="archive">
                        <div class="nav-mailbox-button-background">
                            <div class="nav-mailbox-button-background-small"></div>
                        </div>
                        <img src="{% static 'mail/icons/archive-24px.svg' %}">
                        <p>Archive</p>
                    </button>
                </div>
            </div>
        </div>
        <hr>
        <div class="nav-bar-footer">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
    <div class="list">
        <div class="list-title" id="list-title">
            <h2>Inbox</h2>
        </div>
        <div class="list-view">
            
            <div class="list-body" id="list-body">
            </div>
        </div>
        
    </div>

    <div id="emails-view">
            
    </div>

    

    <div id="compose-view">
        <div class="form-title">
            <h3>New Email</h3>
            <p id="close-form">X</p>
        </div>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
                
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control" name="recipients">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject" name="subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body" name="body"></textarea>
            <input type="submit" class="btn btn-primary" value="Send"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script type="module" src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}